In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

# Tasks:
1. add median/sum delay per month per carrier
2. add passengers per month per carrier
3. add passengers per month per airport

## Task 1
add median/sum delay per month per carrier

In [3]:
# main dataset
main = pd.read_csv('./df_cleanedv1_2.csv')

In [4]:
main

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,month,season,carrier_name
0,2018-01-01,WN,WN,WN,1997,WN,N733SA,1997,13232,MDW,"Chicago, IL",13198,MCI,"Kansas City, MO",1920,2003.0,43.0,13.0,2016.0,2122.0,4.0,2050,2126.0,36.0,0.0,0.0,N,90.0,83.0,66.0,1.0,405.0,10.0,0.0,0.0,0.0,26.0,1,Winter,Southwest Airlines
1,2018-01-01,WN,WN,WN,181,WN,N8633A,181,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",855,947.0,52.0,8.0,955.0,1306.0,5.0,1230,1311.0,41.0,0.0,0.0,N,155.0,144.0,131.0,1.0,990.0,11.0,0.0,0.0,0.0,30.0,1,Winter,Southwest Airlines
2,2018-01-01,WN,WN,WN,185,WN,N8625A,185,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",1250,1307.0,17.0,12.0,1319.0,1629.0,5.0,1625,1634.0,9.0,0.0,0.0,N,155.0,147.0,130.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines
3,2018-01-01,WN,WN,WN,403,WN,N564WN,403,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",1615,1617.0,2.0,11.0,1628.0,1935.0,5.0,1945,1940.0,-5.0,0.0,0.0,N,150.0,143.0,127.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines
4,2018-01-01,WN,WN,WN,1229,WN,N8305E,1229,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",700,719.0,19.0,16.0,735.0,1043.0,6.0,1035,1049.0,14.0,0.0,0.0,N,155.0,150.0,128.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30371,2019-07-31,DL,DL_CODESHARE,DL,3290,9E,N914XJ,3290,15412,TYS,"Knoxville, TN",12953,LGA,"New York, NY",805,749.0,-16.0,12.0,801.0,932.0,15.0,1013,947.0,-26.0,0.0,0.0,N,128.0,118.0,91.0,1.0,648.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Endeavor Air
30372,2019-07-31,DL,DL_CODESHARE,DL,3291,9E,N311PQ,3291,10721,BOS,"Boston, MA",13931,ORF,"Norfolk, VA",605,555.0,-10.0,26.0,621.0,734.0,5.0,750,739.0,-11.0,0.0,0.0,N,105.0,104.0,73.0,1.0,468.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Endeavor Air
30373,2019-07-31,DL,DL_CODESHARE,DL,3292,9E,N297PQ,3292,11193,CVG,"Cincinnati, OH",11298,DFW,"Dallas/Fort Worth, TX",700,655.0,-5.0,14.0,709.0,755.0,7.0,831,802.0,-29.0,0.0,0.0,N,151.0,127.0,106.0,1.0,812.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Endeavor Air
30374,2019-07-31,DL,DL_CODESHARE,DL,3292,9E,N297PQ,3292,11298,DFW,"Dallas/Fort Worth, TX",11193,CVG,"Cincinnati, OH",906,858.0,-8.0,15.0,913.0,1204.0,5.0,1232,1209.0,-23.0,0.0,0.0,N,146.0,131.0,111.0,1.0,812.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Endeavor Air
30375,2019-07-31,AA,AA,AA,1213,AA,N967NN,1213,14747,SEA,"Seattle, WA",13930,ORD,"Chicago, IL",1510,1503.0,-7.0,16.0,1519.0,2028.0,28.0,2118,2056.0,-22.0,0.0,0.0,N,248.0,233.0,189.0,1.0,1721.0,0.0,0.0,0.0,0.0,0.0,7,Summer,American Airlines

In [5]:
delay_per_month_per_carrier = pd.read_csv('delay_per_month_per_carrierv1.csv')

In [6]:
delay_per_month_per_carrier.head()

    carrier_name  month  arr_delay
0  Air Wisconsin      1  13.178571
1  Air Wisconsin      2  -8.000000
2  Air Wisconsin      7  -3.767442
3  Air Wisconsin      8 -13.517241
4  Air Wisconsin      9  -8.400000

## I should probably be getting median or sum, average alone is not helpful in this case

In [7]:
sum_delay_per_month_carrier = main.groupby(by=['carrier_name', 'month'])['arr_delay'].sum().reset_index()

In [8]:
sum_delay_per_month_carrier

        carrier_name  month  arr_delay
0      Air Wisconsin      1      369.0
1      Air Wisconsin      2      -96.0
2      Air Wisconsin      7     -324.0
3      Air Wisconsin      8     -392.0
4      Air Wisconsin      9      -84.0
..               ...    ...        ...
264  United Airlines      9     -322.0
265  United Airlines     10      199.0
266  United Airlines     11       -9.0
267  United Airlines     12     2845.0
268   Virgin America      3       22.0

[269 rows x 3 columns]

In [9]:
df2 = main.copy()

In [10]:
new_df = pd.merge(df2, delay_per_month_per_carrier, on=['carrier_name','month'])

In [11]:
new_df = new_df.rename(columns={'arr_delay_x': 'arr_delay', 'arr_delay_y':'avg_daily_delay_for_month'}) 
# avg_daily_delay_for_month takes into account the carrier too, so the average delay for a given month will be different according to the carrier

In [12]:
new_df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,month,season,carrier_name,avg_daily_delay_for_month
0,2018-01-01,WN,WN,WN,1997,WN,N733SA,1997,13232,MDW,"Chicago, IL",13198,MCI,"Kansas City, MO",1920,2003.0,43.0,13.0,2016.0,2122.0,4.0,2050,2126.0,36.0,0.0,0.0,N,90.0,83.0,66.0,1.0,405.0,10.0,0.0,0.0,0.0,26.0,1,Winter,Southwest Airlines,0.659208
1,2018-01-01,WN,WN,WN,181,WN,N8633A,181,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",855,947.0,52.0,8.0,955.0,1306.0,5.0,1230,1311.0,41.0,0.0,0.0,N,155.0,144.0,131.0,1.0,990.0,11.0,0.0,0.0,0.0,30.0,1,Winter,Southwest Airlines,0.659208
2,2018-01-01,WN,WN,WN,185,WN,N8625A,185,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",1250,1307.0,17.0,12.0,1319.0,1629.0,5.0,1625,1634.0,9.0,0.0,0.0,N,155.0,147.0,130.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208
3,2018-01-01,WN,WN,WN,403,WN,N564WN,403,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",1615,1617.0,2.0,11.0,1628.0,1935.0,5.0,1945,1940.0,-5.0,0.0,0.0,N,150.0,143.0,127.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208
4,2018-01-01,WN,WN,WN,1229,WN,N8305E,1229,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",700,719.0,19.0,16.0,735.0,1043.0,6.0,1035,1049.0,14.0,0.0,0.0,N,155.0,150.0,128.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208

In [13]:
new_df = pd.merge(new_df, sum_delay_per_month_carrier, on=['carrier_name','month'])

In [14]:
new_df = new_df.rename(columns={'arr_delay_x': 'arr_delay', 'arr_delay_y':'sum_delay_for_month'})

In [15]:
new_df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,month,season,carrier_name,avg_daily_delay_for_month,sum_delay_for_month
0,2018-01-01,WN,WN,WN,1997,WN,N733SA,1997,13232,MDW,"Chicago, IL",13198,MCI,"Kansas City, MO",1920,2003.0,43.0,13.0,2016.0,2122.0,4.0,2050,2126.0,36.0,0.0,0.0,N,90.0,83.0,66.0,1.0,405.0,10.0,0.0,0.0,0.0,26.0,1,Winter,Southwest Airlines,0.659208,383.0
1,2018-01-01,WN,WN,WN,181,WN,N8633A,181,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",855,947.0,52.0,8.0,955.0,1306.0,5.0,1230,1311.0,41.0,0.0,0.0,N,155.0,144.0,131.0,1.0,990.0,11.0,0.0,0.0,0.0,30.0,1,Winter,Southwest Airlines,0.659208,383.0
2,2018-01-01,WN,WN,WN,185,WN,N8625A,185,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",1250,1307.0,17.0,12.0,1319.0,1629.0,5.0,1625,1634.0,9.0,0.0,0.0,N,155.0,147.0,130.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0
3,2018-01-01,WN,WN,WN,403,WN,N564WN,403,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",1615,1617.0,2.0,11.0,1628.0,1935.0,5.0,1945,1940.0,-5.0,0.0,0.0,N,150.0,143.0,127.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0
4,2018-01-01,WN,WN,WN,1229,WN,N8305E,1229,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",700,719.0,19.0,16.0,735.0,1043.0,6.0,1035,1049.0,14.0,0.0,0.0,N,155.0,150.0,128.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0

## Task 2
add passengers per month per carrier

In [31]:
df_passenger = pd.read_csv('/home/emile/Documents/data_bootcamp/w6/passengers_orig.csv')

In [51]:
delta = df_passenger['carrier'] == 'DL'
df_passenger[delta]  # looking at specific carrier

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
325,0,1,40570,160,49,0,0,447,187,166,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,14679,33570,SAN,"San Diego, CA",US,United States,14771,32457,SFO,"San Francisco, CA",US,United States,6,614,1,2019,2,1,F,DU
326,0,1,50700,189,178,19,0,626,113,93,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,14679,33570,SAN,"San Diego, CA",US,United States,14869,34614,SLC,"Salt Lake City, UT",US,United States,6,699,1,2019,2,2,F,DU
327,0,7,230090,1042,643,292,546,874,937,806,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,14683,33214,SAT,"San Antonio, TX",US,United States,10397,30397,ATL,"Atlanta, GA",US,United States,6,655,1,2019,2,2,F,DU
328,0,1,38170,158,149,405,0,1007,189,177,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,14683,33214,SAT,"San Antonio, TX",US,United States,12451,31136,JAX,"Jacksonville, FL",US,United States,6,656,1,2019,2,3,F,DU
329,0,1,49760,72,47,0,0,1041,151,132,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,14683,33214,SAT,"San Antonio, TX",US,United States,13204,31454,MCO,"Orlando, FL",US,United States,6,622,1,2019,2,3,L,DU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23294,118,0,0,0,0,0,0,739,0,0,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10397,30397,ATL,"Atlanta, GA",US,United States,16271,36106,YYZ,"Toronto, Canada",CA,Canada,8,819,1,2015,12,2,F,IU
23362,189,0,0,0,0,0,0,950,0,0,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,12953,31703,LGA,"New York, NY",US,United States,13204,31454,MCO,"Orlando, FL",US,United States,6,656,1,2015,3,2,F,DU
23365,189,0,0,0,0,0,0,746,0,0,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10397,30397,ATL,"Atlanta, GA",US,United States,11618,31703,EWR,"Newark, NJ",US,United States,8,819,1,2015,4,2,F,DU
23366,189,0,0,0,0,0,0,606,0,0,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,13930,30977,ORD,"Chicago, IL",US,United States,10397,30397,ATL,"Atlanta, GA",US,United States,8,819,1,2015,10,2,F,DU
23383,189,0,0,0,0,0,0,184,0,0,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,12953,31703,LGA,"New York, NY",US,United States,10721,30721,BOS,"Boston, MA",US,United States,8,819,1,2015,7,1,F,DU

In [7]:
df_passenger[delta]['year'].unique() # data for delta carrier has 5 years, but might not have data for every month of each year

array([2019, 2018, 2017, 2016, 2015])

In [24]:
df_passenger[delta].groupby(by='month')['passengers'].sum()/len(df_passenger[delta]['year'].unique()) # possible way to get passengers per month on average?

month
1      71828.2
2      73742.6
3     167196.8
4      73298.2
5     113440.6
6      98670.6
7     206551.8
8     158668.2
9     159866.2
10    153287.2
11    216732.6
12    147343.4
Name: passengers, dtype: float64

In [43]:
delta_month = (df_passenger['carrier'] == 'DL') & (df_passenger['month'] == 7) & (df_passenger['year'] == 2019)

In [44]:
df_passenger[delta_month]

355715

In [32]:
_2019 = df_passenger['year'] == 2019 
passengers_2019 = df_passenger[_2019]
passengers_2019 # might take passengers per month for 2019 and use that

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,0,1,3300,9,0,0,0,104,46,40,7S,20330,Ryan Air f/k/a Arctic Transportation,D,7S,Ryan Air f/k/a Arctic Transportation,1,5,10996,30996,CHU,"Chuathbaluk, AK",US,United States,10551,30113,BET,"Bethel, AK",US,United States,4,416,1,2019,10,1,L,DU
1,0,2,2400,10,0,814,185,41,50,42,7S,20330,Ryan Air f/k/a Arctic Transportation,D,7S,Ryan Air f/k/a Arctic Transportation,1,5,10996,30996,CHU,"Chuathbaluk, AK",US,United States,11028,31028,CKD,"Crooked Creek, AK",US,United States,0,35,1,2019,10,1,F,DU
2,0,1,1200,1,0,133,202,41,27,23,7S,20330,Ryan Air f/k/a Arctic Transportation,D,7S,Ryan Air f/k/a Arctic Transportation,1,5,10996,30996,CHU,"Chuathbaluk, AK",US,United States,11028,31028,CKD,"Crooked Creek, AK",US,United States,0,35,1,2019,10,1,G,DU
3,0,1,1200,1,0,256,49,41,25,21,7S,20330,Ryan Air f/k/a Arctic Transportation,D,7S,Ryan Air f/k/a Arctic Transportation,1,5,10996,30996,CHU,"Chuathbaluk, AK",US,United States,11028,31028,CKD,"Crooked Creek, AK",US,United States,0,35,2,2019,10,1,G,DU
4,0,1,1200,1,0,18,402,37,22,18,7S,20330,Ryan Air f/k/a Arctic Transportation,D,7S,Ryan Air f/k/a Arctic Transportation,1,5,10996,30996,CHU,"Chuathbaluk, AK",US,United States,12719,32719,KLG,"Kalskag, AK",US,United States,0,35,2,2019,10,1,F,DU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5047,195,195,9721400,38767,34201,26809,0,515,17710,13932,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10397,30397,ATL,"Atlanta, GA",US,United States,14635,31714,RSW,"Fort Myers, FL",US,United States,6,622,1,2019,9,2,F,DU
5048,195,195,5830500,21448,18211,9026,0,192,12511,7585,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10868,30868,CAE,"Columbia, SC",US,United States,10397,30397,ATL,"Atlanta, GA",US,United States,6,608,1,2019,9,1,F,DU
5049,195,195,5109000,19500,16245,0,0,399,19924,15046,B6,20409,JetBlue Airways,D,B6,JetBlue Airways,3,3,10721,30721,BOS,"Boston, MA",US,United States,11278,30852,DCA,"Washington, DC",US,United States,6,678,1,2019,2,1,F,DU
5050,195,190,10078200,31976,26784,97517,255008,2586,62394,56847,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,14771,32457,SFO,"San Francisco, CA",US,United States,12478,31703,JFK,"New York, NY",US,United States,6,622,1,2019,4,6,F,DU
5051,195,166,7631400,29548,26295,55638,8,954,27716,21199,AS,19930,Alaska Airlines Inc.,D,AS,Alaska Airlines Inc.,3,3,14747,30559,SEA,"Seattle, WA",US,United States,12892,32575,LAX,"Los Angeles, CA",US,United States,6,888,1,2019,12,2,F,DU

In [33]:
list_relevant_carriers = ['WN', 'DL', 'MQ', 'YV', 'PT', 'UA', 'OO', 'EV', 'G7', 'YX', '9E',
                         'G4', 'AA', 'CP', 'QX', 'NK', 'AX', 'HA', 'B6', 'OH', 'AS', 'F9',
                         'ZW', 'C5', 'EM', 'KS', 'VX']

In [34]:
passengers_2019['unique_carrier'].unique()

array(['7S', '9E', 'ABX', 'KV', '27Q', 'LA', 'LO', 'KO', 'GV', '5V', 'YX',
       'H6', 'Y4', 'LR', 'Z3', 'DE', 'LX', '2LQ', 'LP', 'M3', 'C8', 'DL',
       'WS', 'K2', 'RV', 'SE', 'SK', 'AS', 'BR', 'L2', 'N8', '1AQ', 'AN',
       'VJT', '8V', 'G4', 'TA', 'G7', 'GFQ', 'ZX', '8C', 'AF', 'G3', 'IB',
       'GL', 'SY', '15Q', 'K3', 'MQ', 'NEW', 'PFQ', '09Q', 'LF', 'AMQ',
       '04Q', '1EQ', '9S', 'AX', '10Q', '14Q', 'C5', 'CP', 'AA', 'B6',
       'ZW', '3M', 'OO', 'UA', 'FX', 'OH', '5X', 'EV', 'F9', '2TQ', 'HBQ',
       'WI', 'WN', 'NK', 'M6', 'J5', 'KAH', 'KH', 'HA', 'EM', 'YV', 'PT',
       '3DQ', 'SEB', '3BQ', 'QX', '4B', '9X', '3E', '9K'], dtype=object)

In [35]:
relevant_carriers_pass = passengers_2019[passengers_2019['unique_carrier'].isin(list_relevant_carriers)]

In [36]:
relevant_carriers_pass

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
21,0,2,37600,138,88,0,0,399,180,126,9E,20363,Endeavor Air Inc.,D,9E,Endeavor Air Inc.,2,2,13795,33795,OAJ,"Jacksonville/Camp Lejeune, NC",US,United States,10397,30397,ATL,"Atlanta, GA",US,United States,6,631,1,2019,10,1,F,DU
22,0,1,21502,76,71,0,0,175,92,63,9E,20363,Endeavor Air Inc.,D,9E,Endeavor Air Inc.,2,2,13851,33851,OKC,"Oklahoma City, OK",US,United States,11298,30194,DFW,"Dallas/Fort Worth, TX",US,United States,6,638,1,2019,10,1,F,DU
23,0,1,18800,69,66,0,0,508,101,74,9E,20363,Endeavor Air Inc.,D,9E,Endeavor Air Inc.,2,2,14098,33667,PHF,"Newport News/Williamsburg, VA",US,United States,10397,30397,ATL,"Atlanta, GA",US,United States,6,631,1,2019,10,2,F,DU
24,0,1,12500,50,28,0,0,442,91,71,9E,20363,Endeavor Air Inc.,D,9E,Endeavor Air Inc.,2,2,14492,34492,RDU,"Raleigh/Durham, NC",US,United States,10693,30693,BNA,"Nashville, TN",US,United States,6,629,1,2019,10,1,F,DU
25,0,1,12500,50,29,0,0,76,53,21,9E,20363,Endeavor Air Inc.,D,9E,Endeavor Air Inc.,2,2,14524,34524,RIC,"Richmond, VA",US,United States,10990,30990,CHO,"Charlottesville, VA",US,United States,6,629,1,2019,10,1,F,DU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5047,195,195,9721400,38767,34201,26809,0,515,17710,13932,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10397,30397,ATL,"Atlanta, GA",US,United States,14635,31714,RSW,"Fort Myers, FL",US,United States,6,622,1,2019,9,2,F,DU
5048,195,195,5830500,21448,18211,9026,0,192,12511,7585,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10868,30868,CAE,"Columbia, SC",US,United States,10397,30397,ATL,"Atlanta, GA",US,United States,6,608,1,2019,9,1,F,DU
5049,195,195,5109000,19500,16245,0,0,399,19924,15046,B6,20409,JetBlue Airways,D,B6,JetBlue Airways,3,3,10721,30721,BOS,"Boston, MA",US,United States,11278,30852,DCA,"Washington, DC",US,United States,6,678,1,2019,2,1,F,DU
5050,195,190,10078200,31976,26784,97517,255008,2586,62394,56847,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,14771,32457,SFO,"San Francisco, CA",US,United States,12478,31703,JFK,"New York, NY",US,United States,6,622,1,2019,4,6,F,DU
5051,195,166,7631400,29548,26295,55638,8,954,27716,21199,AS,19930,Alaska Airlines Inc.,D,AS,Alaska Airlines Inc.,3,3,14747,30559,SEA,"Seattle, WA",US,United States,12892,32575,LAX,"Los Angeles, CA",US,United States,6,888,1,2019,12,2,F,DU

In [37]:
pass_per_month_carrier = relevant_carriers_pass.groupby(by=['unique_carrier', 'month'])['passengers'].sum().reset_index()

In [38]:
pass_per_month_carrier.sort_values(by='passengers', ascending=False)

    unique_carrier  month  passengers
13              AA      5      454734
64              DL      9      421215
62              DL      7      355715
168             WN      1      345355
15              AA      7      333633
..             ...    ...         ...
101             G7      3         321
102             G7      7         281
71              EM     12           0
69              EM      7           0
68              EM      6           0

[201 rows x 3 columns]

In [39]:
pass_per_month_carrier = pass_per_month_carrier.rename(columns={'unique_carrier': 'op_unique_carrier'})

In [59]:
new_df2 = pd.merge(new_df, pass_per_month_carrier , on=['op_unique_carrier', 'month'], how='outer', indicator=True)

In [60]:
new_df2

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,month,season,carrier_name,avg_daily_delay_for_month,sum_delay_for_month,passengers,_merge
0,2018-01-01,WN,WN,WN,1997.0,WN,N733SA,1997.0,13232.0,MDW,"Chicago, IL",13198.0,MCI,"Kansas City, MO",1920.0,2003.0,43.0,13.0,2016.0,2122.0,4.0,2050.0,2126.0,36.0,0.0,0.0,N,90.0,83.0,66.0,1.0,405.0,10.0,0.0,0.0,0.0,26.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,both
1,2018-01-01,WN,WN,WN,181.0,WN,N8633A,181.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",855.0,947.0,52.0,8.0,955.0,1306.0,5.0,1230.0,1311.0,41.0,0.0,0.0,N,155.0,144.0,131.0,1.0,990.0,11.0,0.0,0.0,0.0,30.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,both
2,2018-01-01,WN,WN,WN,185.0,WN,N8625A,185.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",1250.0,1307.0,17.0,12.0,1319.0,1629.0,5.0,1625.0,1634.0,9.0,0.0,0.0,N,155.0,147.0,130.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,both
3,2018-01-01,WN,WN,WN,403.0,WN,N564WN,403.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",1615.0,1617.0,2.0,11.0,1628.0,1935.0,5.0,1945.0,1940.0,-5.0,0.0,0.0,N,150.0,143.0,127.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,both
4,2018-01-01,WN,WN,WN,1229.0,WN,N8305E,1229.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",700.0,719.0,19.0,16.0,735.0,1043.0,6.0,1035.0,1049.0,14.0,0.0,0.0,N,155.0,150.0,128.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30385,NaN,NaN,NaN,NaN,NaN,G7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,2268.0,right_only
30386,NaN,NaN,NaN,NaN,NaN,G7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,1205.0,right_only
30387,NaN,NaN,NaN,NaN,NaN,HA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,4029.0,right_only
30388,NaN,NaN,NaN,NaN,NaN,QX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,1962.0,right_only
30389,NaN,NaN,NaN,NaN,NaN,ZW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,1728.0,right_only

In [61]:
left_only = new_df2['_merge'] == 'left_only'
new_df2[left_only]

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,month,season,carrier_name,avg_daily_delay_for_month,sum_delay_for_month,passengers,_merge
928,2018-01-02,UA,UA_CODESHARE,UA,6045.0,YV,N88325,6045.0,11540.0,ELP,"El Paso, TX",12266.0,IAH,"Houston, TX",1400.0,1351.0,-9.0,12.0,1403.0,1634.0,4.0,1659.0,1638.0,-21.0,0.0,0.0,N,119.0,107.0,91.0,1.0,667.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Mesa Airline,12.378049,1015.0,NaN,left_only
929,2018-01-02,UA,UA_CODESHARE,UA,6072.0,YV,N87345,6072.0,11540.0,ELP,"El Paso, TX",12266.0,IAH,"Houston, TX",755.0,1156.0,241.0,12.0,1208.0,1432.0,8.0,1057.0,1440.0,223.0,0.0,0.0,N,122.0,104.0,84.0,1.0,667.0,0.0,0.0,0.0,0.0,223.0,1,Winter,Mesa Airline,12.378049,1015.0,NaN,left_only
930,2018-01-02,UA,UA_CODESHARE,UA,6132.0,YV,N88328,6132.0,11540.0,ELP,"El Paso, TX",12266.0,IAH,"Houston, TX",1000.0,1057.0,57.0,15.0,1112.0,1331.0,7.0,1301.0,1338.0,37.0,0.0,0.0,N,121.0,101.0,79.0,1.0,667.0,0.0,0.0,0.0,0.0,37.0,1,Winter,Mesa Airline,12.378049,1015.0,NaN,left_only
931,2018-01-02,UA,UA_CODESHARE,UA,6173.0,YV,N86322,6173.0,11540.0,ELP,"El Paso, TX",12266.0,IAH,"Houston, TX",600.0,600.0,0.0,9.0,609.0,828.0,10.0,900.0,838.0,-22.0,0.0,0.0,N,120.0,98.0,79.0,1.0,667.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Mesa Airline,12.378049,1015.0,NaN,left_only
932,2018-01-02,UA,UA_CODESHARE,UA,6014.0,YV,N505MJ,6014.0,11996.0,GSP,"Greer, SC",12264.0,IAD,"Washington, DC",1449.0,1445.0,-4.0,12.0,1457.0,1555.0,4.0,1625.0,1559.0,-26.0,0.0,0.0,N,96.0,74.0,58.0,1.0,384.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Mesa Airline,12.378049,1015.0,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30067,2019-07-06,DL,DL_CODESHARE,DL,5857.0,CP,N628CZ,5857.0,12889.0,LAS,"Las Vegas, NV",12892.0,LAX,"Los Angeles, CA",1255.0,1311.0,16.0,34.0,1345.0,1428.0,9.0,1415.0,1437.0,22.0,0.0,0.0,N,80.0,86.0,43.0,1.0,236.0,5.0,0.0,6.0,0.0,11.0,7,Summer,Compass Airlines,-3.800000,-38.0,NaN,left_only
30068,2019-07-06,DL,DL_CODESHARE,DL,5858.0,CP,N635CZ,5858.0,14489.0,RDM,"Bend/Redmond, OR",14747.0,SEA,"Seattle, WA",1114.0,1110.0,-4.0,25.0,1135.0,1224.0,6.0,1229.0,1230.0,1.0,0.0,0.0,N,75.0,80.0,49.0,1.0,228.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Compass Airlines,-3.800000,-38.0,NaN,left_only
30069,2019-07-06,DL,DL_CODESHARE,DL,5858.0,CP,N635CZ,5858.0,14747.0,SEA,"Seattle, WA",14489.0,RDM,"Bend/Redmond, OR",930.0,924.0,-6.0,18.0,942.0,1021.0,10.0,1042.0,1031.0,-11.0,0.0,0.0,N,72.0,67.0,39.0,1.0,228.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Compass Airlines,-3.800000,-38.0,NaN,left_only
30070,2019-07-06,DL,DL_CODESHARE,DL,5859.0,CP,N613CZ,5859.0,11884.0,GEG,"Spokane, WA",14747.0,SEA,"Seattle, WA",1310.0,1301.0,-9.0,13.0,1314.0,1356.0,10.0,1436.0,1406.0,-30.0,0.0,0.0,N,86.0,65.0,42.0,1.0,224.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Compass Airlines,-3.800000,-38.0,NaN,left_only
30071,2019-07-06,DL,DL_CODESHARE,DL,5859.0,CP,N613CZ,5859.0,14747.0,SEA,"Seattle, WA",11884.0,GEG,"Spokane, WA",1125.0,1120.0,-5.0,15.0,1135.0,1215.0,4.0,1238.0,1219.0,-19.0,0.0,0.0,N,73.0,59.0,40.0,1.0,224.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Compass Airlines,-3.800000,-38.0,NaN,left_only

In [62]:
new_df2['passengers']=new_df2.groupby('month')['passengers'].apply(lambda x:x.fillna(x.mean()))

In [63]:
new_df2[left_only]

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,month,season,carrier_name,avg_daily_delay_for_month,sum_delay_for_month,passengers,_merge
928,2018-01-02,UA,UA_CODESHARE,UA,6045.0,YV,N88325,6045.0,11540.0,ELP,"El Paso, TX",12266.0,IAH,"Houston, TX",1400.0,1351.0,-9.0,12.0,1403.0,1634.0,4.0,1659.0,1638.0,-21.0,0.0,0.0,N,119.0,107.0,91.0,1.0,667.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Mesa Airline,12.378049,1015.0,144694.187566,left_only
929,2018-01-02,UA,UA_CODESHARE,UA,6072.0,YV,N87345,6072.0,11540.0,ELP,"El Paso, TX",12266.0,IAH,"Houston, TX",755.0,1156.0,241.0,12.0,1208.0,1432.0,8.0,1057.0,1440.0,223.0,0.0,0.0,N,122.0,104.0,84.0,1.0,667.0,0.0,0.0,0.0,0.0,223.0,1,Winter,Mesa Airline,12.378049,1015.0,144694.187566,left_only
930,2018-01-02,UA,UA_CODESHARE,UA,6132.0,YV,N88328,6132.0,11540.0,ELP,"El Paso, TX",12266.0,IAH,"Houston, TX",1000.0,1057.0,57.0,15.0,1112.0,1331.0,7.0,1301.0,1338.0,37.0,0.0,0.0,N,121.0,101.0,79.0,1.0,667.0,0.0,0.0,0.0,0.0,37.0,1,Winter,Mesa Airline,12.378049,1015.0,144694.187566,left_only
931,2018-01-02,UA,UA_CODESHARE,UA,6173.0,YV,N86322,6173.0,11540.0,ELP,"El Paso, TX",12266.0,IAH,"Houston, TX",600.0,600.0,0.0,9.0,609.0,828.0,10.0,900.0,838.0,-22.0,0.0,0.0,N,120.0,98.0,79.0,1.0,667.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Mesa Airline,12.378049,1015.0,144694.187566,left_only
932,2018-01-02,UA,UA_CODESHARE,UA,6014.0,YV,N505MJ,6014.0,11996.0,GSP,"Greer, SC",12264.0,IAD,"Washington, DC",1449.0,1445.0,-4.0,12.0,1457.0,1555.0,4.0,1625.0,1559.0,-26.0,0.0,0.0,N,96.0,74.0,58.0,1.0,384.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Mesa Airline,12.378049,1015.0,144694.187566,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30067,2019-07-06,DL,DL_CODESHARE,DL,5857.0,CP,N628CZ,5857.0,12889.0,LAS,"Las Vegas, NV",12892.0,LAX,"Los Angeles, CA",1255.0,1311.0,16.0,34.0,1345.0,1428.0,9.0,1415.0,1437.0,22.0,0.0,0.0,N,80.0,86.0,43.0,1.0,236.0,5.0,0.0,6.0,0.0,11.0,7,Summer,Compass Airlines,-3.800000,-38.0,138249.685781,left_only
30068,2019-07-06,DL,DL_CODESHARE,DL,5858.0,CP,N635CZ,5858.0,14489.0,RDM,"Bend/Redmond, OR",14747.0,SEA,"Seattle, WA",1114.0,1110.0,-4.0,25.0,1135.0,1224.0,6.0,1229.0,1230.0,1.0,0.0,0.0,N,75.0,80.0,49.0,1.0,228.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Compass Airlines,-3.800000,-38.0,138249.685781,left_only
30069,2019-07-06,DL,DL_CODESHARE,DL,5858.0,CP,N635CZ,5858.0,14747.0,SEA,"Seattle, WA",14489.0,RDM,"Bend/Redmond, OR",930.0,924.0,-6.0,18.0,942.0,1021.0,10.0,1042.0,1031.0,-11.0,0.0,0.0,N,72.0,67.0,39.0,1.0,228.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Compass Airlines,-3.800000,-38.0,138249.685781,left_only
30070,2019-07-06,DL,DL_CODESHARE,DL,5859.0,CP,N613CZ,5859.0,11884.0,GEG,"Spokane, WA",14747.0,SEA,"Seattle, WA",1310.0,1301.0,-9.0,13.0,1314.0,1356.0,10.0,1436.0,1406.0,-30.0,0.0,0.0,N,86.0,65.0,42.0,1.0,224.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Compass Airlines,-3.800000,-38.0,138249.685781,left_only
30071,2019-07-06,DL,DL_CODESHARE,DL,5859.0,CP,N613CZ,5859.0,14747.0,SEA,"Seattle, WA",11884.0,GEG,"Spokane, WA",1125.0,1120.0,-5.0,15.0,1135.0,1215.0,4.0,1238.0,1219.0,-19.0,0.0,0.0,N,73.0,59.0,40.0,1.0,224.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Compass Airlines,-3.800000,-38.0,138249.685781,left_only

In [64]:
new_df2.isnull().sum()

fl_date                      14
mkt_unique_carrier           14
branded_code_share           14
mkt_carrier                  14
mkt_carrier_fl_num           14
op_unique_carrier             0
tail_num                     14
op_carrier_fl_num            14
origin_airport_id            14
origin                       14
origin_city_name             14
dest_airport_id              14
dest                         14
dest_city_name               14
crs_dep_time                 14
dep_time                     14
dep_delay                    14
taxi_out                     14
wheels_off                   14
wheels_on                    14
taxi_in                      14
crs_arr_time                 14
arr_time                     14
arr_delay                    14
cancelled                    14
diverted                     14
dup                          14
crs_elapsed_time             14
actual_elapsed_time          14
air_time                     14
flights                      14
distance                     14
carrier_delay                14
weather_delay                14
nas_delay                    14
security_delay               14
late_aircraft_delay          14
month                         0
season                       14
carrier_name                 14
avg_daily_delay_for_month    14
sum_delay_for_month          14
passengers                    0
_merge                        0
dtype: int64

In [65]:
new_df2 = new_df2.dropna()

In [67]:
new_df2 = new_df2.drop(labels='_merge', axis=1)

In [73]:
new_df2 = new_df2.rename(columns={'passengers': 'monthly_passenger_carrier'})

In [74]:
new_df2

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,month,season,carrier_name,avg_daily_delay_for_month,sum_delay_for_month,monthly_passenger_carrier
0,2018-01-01,WN,WN,WN,1997.0,WN,N733SA,1997.0,13232.0,MDW,"Chicago, IL",13198.0,MCI,"Kansas City, MO",1920.0,2003.0,43.0,13.0,2016.0,2122.0,4.0,2050.0,2126.0,36.0,0.0,0.0,N,90.0,83.0,66.0,1.0,405.0,10.0,0.0,0.0,0.0,26.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0
1,2018-01-01,WN,WN,WN,181.0,WN,N8633A,181.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",855.0,947.0,52.0,8.0,955.0,1306.0,5.0,1230.0,1311.0,41.0,0.0,0.0,N,155.0,144.0,131.0,1.0,990.0,11.0,0.0,0.0,0.0,30.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0
2,2018-01-01,WN,WN,WN,185.0,WN,N8625A,185.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",1250.0,1307.0,17.0,12.0,1319.0,1629.0,5.0,1625.0,1634.0,9.0,0.0,0.0,N,155.0,147.0,130.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0
3,2018-01-01,WN,WN,WN,403.0,WN,N564WN,403.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",1615.0,1617.0,2.0,11.0,1628.0,1935.0,5.0,1945.0,1940.0,-5.0,0.0,0.0,N,150.0,143.0,127.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0
4,2018-01-01,WN,WN,WN,1229.0,WN,N8305E,1229.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",700.0,719.0,19.0,16.0,735.0,1043.0,6.0,1035.0,1049.0,14.0,0.0,0.0,N,155.0,150.0,128.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30371,2019-07-27,AS,AS_CODESHARE,AS,2076.0,QX,N446QX,2076.0,14893.0,SMF,"Sacramento, CA",10713.0,BOI,"Boise, ID",1815.0,1817.0,2.0,10.0,1827.0,2048.0,1.0,2050.0,2049.0,-1.0,0.0,0.0,N,95.0,92.0,81.0,1.0,437.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Horizon Airlines,-7.689655,-223.0,2055.0
30372,2019-07-27,AS,AS_CODESHARE,AS,2077.0,QX,N445QX,2077.0,10713.0,BOI,"Boise, ID",14893.0,SMF,"Sacramento, CA",850.0,847.0,-3.0,9.0,856.0,915.0,5.0,930.0,920.0,-10.0,0.0,0.0,N,100.0,93.0,79.0,1.0,437.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Horizon Airlines,-7.689655,-223.0,2055.0
30373,2019-07-27,AS,AS_CODESHARE,AS,2080.0,QX,N638QX,2080.0,14908.0,SNA,"Santa Ana, CA",14771.0,SFO,"San Francisco, CA",1120.0,1114.0,-6.0,9.0,1123.0,1222.0,8.0,1255.0,1230.0,-25.0,0.0,0.0,N,95.0,76.0,59.0,1.0,372.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Horizon Airlines,-7.689655,-223.0,2055.0
30374,2019-07-27,AS,AS_CODESHARE,AS,2081.0,QX,N445QX,2081.0,14057.0,PDX,"Portland, OR",11603.0,EUG,"Eugene, OR",1300.0,1256.0,-4.0,7.0,1303.0,1330.0,8.0,1345.0,1338.0,-7.0,0.0,0.0,N,45.0,42.0,27.0,1.0,106.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Horizon Airlines,-7.689655,-223.0,2055.0
30375,2019-07-27,AS,AS_CODESHARE,AS,2083.0,QX,N434MK,2083.0,14057.0,PDX,"Portland, OR",14489.0,RDM,"Bend/Redmond, OR",1545.0,1540.0,-5.0,7.0,1547.0,1617.0,4.0,1630.0,1621.0,-9.0,0.0,0.0,N,45.0,41.0,30.0,1.0,116.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Horizon Airlines,-7.689655,-223.0,2055.0

## Task 3
add passengers per month per airport

In [75]:
monthly_passenger_airport = df_passenger.groupby(by=['origin_city_name', 'month'])['passengers'].sum().reset_index()

In [78]:
monthly_passenger_airport

         origin_city_name  month  passengers
0            Aberdeen, SD      1         157
1            Aberdeen, SD      2        2071
2            Aberdeen, SD      8        2001
3             Abilene, TX      4         266
4             Abilene, TX      5         173
...                   ...    ...         ...
3755  Zurich, Switzerland      5         335
3756  Zurich, Switzerland      8           6
3757  Zurich, Switzerland     10       38554
3758  Zurich, Switzerland     11       48240
3759  Zurich, Switzerland     12           1

[3760 rows x 3 columns]

In [83]:
unique_cities = new_df2['origin_city_name'].unique()
relevant_airport_monthly_pass = monthly_passenger_airport[monthly_passenger_airport['origin_city_name'].isin(unique_cities)]

In [84]:
relevant_airport_monthly_pass

     origin_city_name  month  passengers
3         Abilene, TX      4         266
4         Abilene, TX      5         173
5         Abilene, TX     11          93
7       Aguadilla, PR      1         116
8       Aguadilla, PR      2         601
...               ...    ...         ...
3737      Yakutat, AK      6         854
3738      Yakutat, AK      7           0
3744         Yuma, AZ      3        5156
3745         Yuma, AZ      8         129
3746         Yuma, AZ     10           0

[2233 rows x 3 columns]

In [94]:
new_df3 = pd.merge(new_df2, relevant_airport_monthly_pass , on=['origin_city_name', 'month'], how='outer', indicator=True)

In [95]:
new_df3

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,month,season,carrier_name,avg_daily_delay_for_month,sum_delay_for_month,monthly_passenger_carrier,passengers,_merge
0,2018-01-01,WN,WN,WN,1997.0,WN,N733SA,1997.0,13232.0,MDW,"Chicago, IL",13198.0,MCI,"Kansas City, MO",1920.0,2003.0,43.0,13.0,2016.0,2122.0,4.0,2050.0,2126.0,36.0,0.0,0.0,N,90.0,83.0,66.0,1.0,405.0,10.0,0.0,0.0,0.0,26.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,158843.0,both
1,2018-01-01,WN,WN,WN,181.0,WN,N8633A,181.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",855.0,947.0,52.0,8.0,955.0,1306.0,5.0,1230.0,1311.0,41.0,0.0,0.0,N,155.0,144.0,131.0,1.0,990.0,11.0,0.0,0.0,0.0,30.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,158843.0,both
2,2018-01-01,WN,WN,WN,185.0,WN,N8625A,185.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",1250.0,1307.0,17.0,12.0,1319.0,1629.0,5.0,1625.0,1634.0,9.0,0.0,0.0,N,155.0,147.0,130.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,158843.0,both
3,2018-01-01,WN,WN,WN,403.0,WN,N564WN,403.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",1615.0,1617.0,2.0,11.0,1628.0,1935.0,5.0,1945.0,1940.0,-5.0,0.0,0.0,N,150.0,143.0,127.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,158843.0,both
4,2018-01-01,WN,WN,WN,1229.0,WN,N8305E,1229.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",700.0,719.0,19.0,16.0,735.0,1043.0,6.0,1035.0,1049.0,14.0,0.0,0.0,N,155.0,150.0,128.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,158843.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yakutat, AK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,44.0,right_only
30837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yakutat, AK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,456.0,right_only
30838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yakutat, AK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,0.0,right_only
30839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yuma, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,129.0,right_only
30840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yuma, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,0.0,right_only

In [96]:
left_only2 = new_df3['_merge'] == 'left_only'
new_df3[left_only2]

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,month,season,carrier_name,avg_daily_delay_for_month,sum_delay_for_month,monthly_passenger_carrier,passengers,_merge
998,2019-01-23,WN,WN,WN,8.0,WN,N7861J,8.0,11140.0,CRP,"Corpus Christi, TX",12191.0,HOU,"Houston, TX",610.0,609.0,-1.0,9.0,618.0,654.0,5.0,715.0,659.0,-16.0,0.0,0.0,N,65.0,50.0,36.0,1.0,187.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,NaN,left_only
999,2019-01-23,WN,WN,WN,42.0,WN,N7711N,42.0,11140.0,CRP,"Corpus Christi, TX",12191.0,HOU,"Houston, TX",1430.0,1432.0,2.0,9.0,1441.0,1516.0,10.0,1540.0,1526.0,-14.0,0.0,0.0,N,70.0,54.0,35.0,1.0,187.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,NaN,left_only
1000,2019-01-23,WN,WN,WN,52.0,WN,N468WN,52.0,11140.0,CRP,"Corpus Christi, TX",12191.0,HOU,"Houston, TX",1715.0,1811.0,56.0,9.0,1820.0,1859.0,4.0,1815.0,1903.0,48.0,0.0,0.0,N,60.0,52.0,39.0,1.0,187.0,0.0,0.0,45.0,0.0,3.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,NaN,left_only
1001,2019-01-23,WN,WN,WN,1662.0,WN,N475WN,1662.0,11140.0,CRP,"Corpus Christi, TX",12191.0,HOU,"Houston, TX",1020.0,1015.0,-5.0,7.0,1022.0,1057.0,9.0,1120.0,1106.0,-14.0,0.0,0.0,N,60.0,51.0,35.0,1.0,187.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,NaN,left_only
1002,2019-01-10,AA,AA_CODESHARE,AA,3341.0,MQ,N265NN,3341.0,11140.0,CRP,"Corpus Christi, TX",11298.0,DFW,"Dallas/Fort Worth, TX",1821.0,1820.0,-1.0,12.0,1832.0,1932.0,10.0,1945.0,1942.0,-3.0,0.0,0.0,N,84.0,82.0,60.0,1.0,354.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Envoy Air,7.184211,819.0,10907.0,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30367,2019-07-23,UA,UA_CODESHARE,UA,4608.0,AX,N21130,4608.0,11111.0,COU,"Columbia, MO",13930.0,ORD,"Chicago, IL",600.0,556.0,-4.0,25.0,621.0,719.0,19.0,720.0,738.0,18.0,0.0,0.0,N,80.0,102.0,58.0,1.0,315.0,0.0,0.0,18.0,0.0,0.0,7,Summer,Trans States Airlines,-2.611111,-47.0,1232.0,NaN,left_only
30371,2019-07-24,AA,AA_CODESHARE,AA,4807.0,PT,N624AE,4807.0,14704.0,SBY,"Salisbury, MD",14100.0,PHL,"Philadelphia, PA",1519.0,1517.0,-2.0,16.0,1533.0,1602.0,5.0,1614.0,1607.0,-7.0,0.0,0.0,N,55.0,50.0,29.0,1.0,107.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Piedmont Airlines,-4.250000,-119.0,908.0,NaN,left_only
30372,2019-07-24,AA,AA_CODESHARE,AA,4808.0,PT,N649AE,4808.0,14704.0,SBY,"Salisbury, MD",14100.0,PHL,"Philadelphia, PA",1241.0,1257.0,16.0,11.0,1308.0,1332.0,7.0,1331.0,1339.0,8.0,0.0,0.0,N,50.0,42.0,24.0,1.0,107.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Piedmont Airlines,-4.250000,-119.0,908.0,NaN,left_only
30373,2019-07-24,AA,AA_CODESHARE,AA,4810.0,PT,N642AE,4810.0,13139.0,LYH,"Lynchburg, VA",11057.0,CLT,"Charlotte, NC",1557.0,1725.0,88.0,15.0,1740.0,1822.0,6.0,1707.0,1828.0,81.0,0.0,0.0,N,70.0,63.0,42.0,1.0,175.0,0.0,0.0,0.0,0.0,81.0,7,Summer,Piedmont Airlines,-4.250000,-119.0,908.0,NaN,left_only
30374,2019-07-27,AS,AS_CODESHARE,AS,2067.0,QX,N446QX,2067.0,14303.0,PUW,"Pullman, WA",14747.0,SEA,"Seattle, WA",500.0,506.0,6.0,3.0,509.0,607.0,6.0,610.0,613.0,3.0,0.0,0.0,N,70.0,67.0,58.0,1.0,250.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Horizon Airlines,-7.689655,-223.0,2055.0,NaN,left_only

In [97]:
new_df3['passengers']=new_df3.groupby('month')['passengers'].apply(lambda x:x.fillna(x.mean()))

In [98]:
new_df3 = new_df3.dropna()

In [99]:
new_df3 = new_df3.rename(columns={'passengers':'monthly_passenger_airport'})
new_df3 = new_df3.drop(labels='_merge', axis=1)

In [100]:
new_df3

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,month,season,carrier_name,avg_daily_delay_for_month,sum_delay_for_month,monthly_passenger_carrier,monthly_passenger_airport
0,2018-01-01,WN,WN,WN,1997.0,WN,N733SA,1997.0,13232.0,MDW,"Chicago, IL",13198.0,MCI,"Kansas City, MO",1920.0,2003.0,43.0,13.0,2016.0,2122.0,4.0,2050.0,2126.0,36.0,0.0,0.0,N,90.0,83.0,66.0,1.0,405.0,10.0,0.0,0.0,0.0,26.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,158843.000000
1,2018-01-01,WN,WN,WN,181.0,WN,N8633A,181.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",855.0,947.0,52.0,8.0,955.0,1306.0,5.0,1230.0,1311.0,41.0,0.0,0.0,N,155.0,144.0,131.0,1.0,990.0,11.0,0.0,0.0,0.0,30.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,158843.000000
2,2018-01-01,WN,WN,WN,185.0,WN,N8625A,185.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",1250.0,1307.0,17.0,12.0,1319.0,1629.0,5.0,1625.0,1634.0,9.0,0.0,0.0,N,155.0,147.0,130.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,158843.000000
3,2018-01-01,WN,WN,WN,403.0,WN,N564WN,403.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",1615.0,1617.0,2.0,11.0,1628.0,1935.0,5.0,1945.0,1940.0,-5.0,0.0,0.0,N,150.0,143.0,127.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,158843.000000
4,2018-01-01,WN,WN,WN,1229.0,WN,N8305E,1229.0,13232.0,MDW,"Chicago, IL",13204.0,MCO,"Orlando, FL",700.0,719.0,19.0,16.0,735.0,1043.0,6.0,1035.0,1049.0,14.0,0.0,0.0,N,155.0,150.0,128.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0,1,Winter,Southwest Airlines,0.659208,383.0,345355.0,158843.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30371,2019-07-24,AA,AA_CODESHARE,AA,4807.0,PT,N624AE,4807.0,14704.0,SBY,"Salisbury, MD",14100.0,PHL,"Philadelphia, PA",1519.0,1517.0,-2.0,16.0,1533.0,1602.0,5.0,1614.0,1607.0,-7.0,0.0,0.0,N,55.0,50.0,29.0,1.0,107.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Piedmont Airlines,-4.250000,-119.0,908.0,114726.459319
30372,2019-07-24,AA,AA_CODESHARE,AA,4808.0,PT,N649AE,4808.0,14704.0,SBY,"Salisbury, MD",14100.0,PHL,"Philadelphia, PA",1241.0,1257.0,16.0,11.0,1308.0,1332.0,7.0,1331.0,1339.0,8.0,0.0,0.0,N,50.0,42.0,24.0,1.0,107.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Piedmont Airlines,-4.250000,-119.0,908.0,114726.459319
30373,2019-07-24,AA,AA_CODESHARE,AA,4810.0,PT,N642AE,4810.0,13139.0,LYH,"Lynchburg, VA",11057.0,CLT,"Charlotte, NC",1557.0,1725.0,88.0,15.0,1740.0,1822.0,6.0,1707.0,1828.0,81.0,0.0,0.0,N,70.0,63.0,42.0,1.0,175.0,0.0,0.0,0.0,0.0,81.0,7,Summer,Piedmont Airlines,-4.250000,-119.0,908.0,114726.459319
30374,2019-07-27,AS,AS_CODESHARE,AS,2067.0,QX,N446QX,2067.0,14303.0,PUW,"Pullman, WA",14747.0,SEA,"Seattle, WA",500.0,506.0,6.0,3.0,509.0,607.0,6.0,610.0,613.0,3.0,0.0,0.0,N,70.0,67.0,58.0,1.0,250.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Horizon Airlines,-7.689655,-223.0,2055.0,114726.459319
30375,2019-07-27,AS,AS_CODESHARE,AS,2069.0,QX,N445QX,2069.0,11470.0,EAT,"Wenatchee, WA",14747.0,SEA,"Seattle, WA",1930.0,1943.0,13.0,6.0,1949.0,2023.0,6.0,2020.0,2029.0,9.0,0.0,0.0,N,50.0,46.0,34.0,1.0,99.0,0.0,0.0,0.0,0.0,0.0,7,Summer,Horizon Airlines,-7.689655,-223.0,2055.0,0.000000

Done... far from perfect but it's something

In [101]:
new_df3.to_csv(r'./table_for_merge.csv', index = False)